In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
requests.get('https://www.ambitionbox.com/list-of-companies?page=1')

In [3]:
webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1').text

In [4]:
# headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 6.3; Win 64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

In [5]:
soup = BeautifulSoup(webpage,'lxml')

In [6]:
# soup.find_all('h1')

In [7]:
# soup.find_all('h1')[0]

In [8]:
# soup.find_all('h1')[0].text

In [9]:
# soup.find_all('h2')

In [10]:
# for i in soup.find_all('h2'):
#     print(i.text.strip())

In [11]:
# for i in soup.find_all('p'):
#     print(i.text.strip())

In [12]:
# for i in soup.find_all('p', class_='rating'):
#     print(i.text.strip())

In [13]:
# len(soup.find_all('p', class_='rating'))

In [14]:
# len(soup.find_all('a', class_='review-count'))

In [15]:
company = soup.find_all('div', class_ = "company-content-wrapper")

In [16]:
len(company)

30

In [17]:
# company_name = []
# for i in company:
#     print(i.find('h2').text.strip())

In [18]:
company_name = []
for i in company:
    company_name.append(i.find('h2').text.strip())

In [19]:
company_name

['TCS',
 'Accenture',
 'Cognizant',
 'ICICI Bank',
 'Wipro',
 'HDFC Bank',
 'Capgemini',
 'Infosys',
 'Tech Mahindra',
 'Genpact',
 'HCL Technologies',
 'Axis Bank',
 'Amazon',
 'IBM',
 'Concentrix Corpo...',
 'Larsen & Toubro ...',
 'Reliance jio',
 'Vodafone Idea',
 'HDB Financial Se...',
 'Teleperformance',
 'Kotak Mahindra B...',
 'Reliance Industr...',
 'Bharti Airtel',
 'Deloitte',
 'Tata Motors',
 'Reliance Retail',
 'Mahindra & Mahin...',
 'WNS',
 'IndusInd Bank',
 'Flipkart']

In [20]:
company_name = []
company_rating = []
company_reviews = []
company_old = []
company_hq = []
company_emp = []
company_type = []



for i in company:
    company_name.append(i.find('h2').text.strip())    
    company_rating.append(i.find('p', class_ = 'rating').text.strip())
#     company_time.append(i.find_all('p', class_ = 'infoEntity')[2].text.strip())    
    company_reviews.append(i.find('a', class_ = 'review-count').text.strip())
    company_type.append(i.find_all('p', class_ = 'infoEntity')[0].text.strip())
    company_hq.append(i.find_all('p', class_ = 'infoEntity')[2].text.strip())    
    company_old.append(i.find_all('p', class_ = 'infoEntity')[1].text.strip())    
    company_emp.append(i.find_all('p', class_ = 'infoEntity')[3].text.strip())

In [21]:
d = {'name': company_name, 'rating': company_rating, 'review': company_reviews, 'type':company_type,'HQ': company_hq, 'how_old': company_old, 'employee':company_emp}

In [22]:
df = pd.DataFrame(d)

In [23]:
df

,name,rating,review,type,HQ,how_old,employee
0,TCS,3.9,(44k Reviews),Public,54 years old,"Mumbai,Maharashtra + 257 more",1 Lakh+ Employees (India)
1,Accenture,4.2,(30k Reviews),Public,33 years old,Dublin + 137 more,1 Lakh+ Employees (India)
2,Cognizant,4.0,(26.8k Reviews),Private,28 years old,Teaneck. New Jersey. + 89 more,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(32.5k Reviews),Public,28 years old,"Mumbai,Maharashtra + 1025 more",1 Lakh+ Employees (India)
4,Wipro,3.9,(31k Reviews),Public,77 years old,"Bangalore/Bengaluru,Karnataka + 261 more",1 Lakh+ Employees (India)
5,HDFC Bank,4.0,(36.6k Reviews),Public,28 years old,"Mumbai,Maharashtra + 1167 more",1 Lakh+ Employees (India)
6,Capgemini,3.9,(22.3k Reviews),Public,55 years old,Paris + 75 more,1 Lakh+ Employees (India)
7,Infosys,4.0,(25.9k Reviews),Public,41 years old,"Bengaluru/Bangalore,Karnataka + 121 more",1 Lakh+ Employees (India)
8,Tech Mahindra,3.8,(20k Reviews),Public,36 years old,"Pune,Maharashtra + 200 more",50k-1 Lakh Employees (India)
9,Genpact,4.0,(19.7k Reviews),Public,25 years old,"New York,New York + 62 more",50k-1 Lakh Employees (India)
10,HCL Technologies,3.9,(16.6k Reviews),Public,31 years old,"Noida,Uttar Pradesh + 134 more",1 Lakh+ Employees (India)
11,Axis Bank,3.9,(17.7k Reviews),Public,29 years old,"Mumbai,Maharashtra + 1027 more",1 Lakh+ Employees (India)
12,Amazon,4.2,(15.9k Reviews),Public,28 years old,"Seattle,Washington + 336 more",1 Lakh+ Employees (India)
13,IBM,4.2,(19.6k Reviews),Public,111 years old,"Armonk,New York + 116 more",1 Lakh+ Employees (India)
14,Concentrix Corpo...,4.1,(14.4k Reviews),Public,39 years old,"Fremont,California + 66 more",10k-50k Employees (India)
15,Larsen & Toubro ...,4.1,(23.3k Reviews),Public,84 years old,"Mumbai,Maharashtra + 517 more",10k-50k Employees (India)
16,Reliance jio,4.0,(13.8k Reviews),Public,15 years old,"Navi Mumbai,Maharashtra + 933 more",50k-1 Lakh Employees (India)
17,Vodafone Idea,4.3,(13.4k Reviews),Public,4 years old,"Gandhinagar,Gujrat + 557 more",10k-50k Employees (India)
18,HDB Financial Se...,4.0,(12.5k Reviews),Private,15 years old,"Ahmedabad,Gujrat + 741 more",1 Lakh+ Employees (India)
19,Teleperformance,3.6,(13.4k Reviews),Private,44 years old,Paris + 117 more,50k-1 Lakh Employees (India)
20,Kotak Mahindra B...,3.9,(12.9k Reviews),Public,19 years old,"Mumbai,Maharashtra + 464 more",50k-1 Lakh Employees (India)
21,Reliance Industr...,4.1,(39.4k Reviews),Public,49 years old,"Navi Mumbai,Maharashtra + 447 more",1 Lakh+ Employees (India)
22,Bharti Airtel,4.1,(12.1k Reviews),Public,27 years old,"Gurgaon/Gurugram,Haryana + 481 more",10k-50k Employees (India)
23,Deloitte,4.1,(8.8k Reviews),Private,177 years old,"New York,New York + 131 more",50k-1 Lakh Employees (India)
24,Tata Motors,4.1,(9.8k Reviews),Public,77 years old,"Pune,Maharashtra + 380 more",50k-1 Lakh Employees (India)
25,Reliance Retail,4.1,(13.5k Reviews),Private,16 years old,"Navi Mumbai,Maharashtra + 566 more",1 Lakh+ Employees (India)
26,Mahindra & Mahin...,4.2,(6.6k Reviews),Public,77 years old,"Mumbai,Maharashtra + 397 more",1 Lakh+ Employees (India)
27,WNS,3.7,(6.5k Reviews),Private,26 years old,"Mumbai,Maharashtra + 21 more",10k-50k Employees (India)
28,IndusInd Bank,3.8,(6.5k Reviews),Public,28 years old,"Gurgaon/Gurugram,Haryana + 542 more",10k-50k Employees (India)
29,Flipkart,4.2,(10k Reviews),Public,15 years old,"Bangalore,Karnataka + 407 more",50k-1 Lakh Employees (India)

In [24]:
df.shape

(30, 7)

In [25]:
final_dataframe = pd.DataFrame()

for j in range(1,334):
    
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    
    webpage = requests.get(url).text
    soup = BeautifulSoup(webpage,'lxml')    
    
    company = soup.find_all('div', class_ = "company-content-wrapper")    
    
    company_name = []
    company_rating = []
    company_reviews = []
    company_old = []
    company_hq = []
    company_emp = []
    company_type = []



    for i in company:
        try:
            company_name.append(i.find('h2').text.strip())    
        except:
            company_name.append(np.nan)
        try:    
            company_rating.append(i.find('p', class_ = 'rating').text.strip())
        except:
            comapny_rating.append(np.nan)
#     company_time.append(i.find_all('p', class_ = 'infoEntity')[2].text.strip())    
        
        try:
            company_reviews.append(i.find('a', class_ = 'review-count').text.strip())
        except:
            company_reviews.append(np.nan)
        try:                          
            company_type.append(i.find_all('p', class_ = 'infoEntity')[0].text.strip())
        except:
            company_type.append(np.nan)
        try:
            company_hq.append(i.find_all('p', class_ = 'infoEntity')[2].text.strip())    
        except:
            company_hq.append(np.nan)
        try:    
            company_old.append(i.find_all('p', class_ = 'infoEntity')[1].text.strip())
        except:
            company_old.append(np.nan)
        try:
            company_emp.append(i.find_all('p', class_ = 'infoEntity')[3].text.strip())    
        except:
            company_emp.append(np.nan)
    
    d = {'name': company_name, 'rating': company_rating, 'review': company_reviews, 'type':company_type,'HQ': company_hq, 'how_old': company_old, 'employee':company_emp}    
    df = pd.DataFrame(d)    
    final_dataframe = final_dataframe.append(df, ignore_index=True)

C:\Users\HITESH\AppData\Local\Temp\ipykernel_4568\3890547046.py:56: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_dataframe = final_dataframe.append(df, ignore_index=True)

In [26]:
final_dataframe.head()

,name,rating,review,type,HQ,how_old,employee
0,TCS,3.9,(44k Reviews),Public,54 years old,"Mumbai,Maharashtra + 257 more",1 Lakh+ Employees (India)
1,Accenture,4.2,(30k Reviews),Public,33 years old,Dublin + 137 more,1 Lakh+ Employees (India)
2,Cognizant,4.0,(26.8k Reviews),Private,28 years old,Teaneck. New Jersey. + 89 more,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(32.5k Reviews),Public,28 years old,"Mumbai,Maharashtra + 1025 more",1 Lakh+ Employees (India)
4,Wipro,3.9,(31k Reviews),Public,77 years old,"Bangalore/Bengaluru,Karnataka + 261 more",1 Lakh+ Employees (India)

In [27]:
final_dataframe.shape

(9989, 7)

In [28]:
final_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9989 entries, 0 to 9988
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      9989 non-null   object
 1   rating    9989 non-null   object
 2   review    9989 non-null   object
 3   type      9984 non-null   object
 4   HQ        9587 non-null   object
 5   how_old   9900 non-null   object
 6   employee  8289 non-null   object
dtypes: object(7)
memory usage: 546.4+ KB

In [29]:
final_dataframe

,name,rating,review,type,HQ,how_old,employee
0,TCS,3.9,(44k Reviews),Public,54 years old,"Mumbai,Maharashtra + 257 more",1 Lakh+ Employees (India)
1,Accenture,4.2,(30k Reviews),Public,33 years old,Dublin + 137 more,1 Lakh+ Employees (India)
2,Cognizant,4.0,(26.8k Reviews),Private,28 years old,Teaneck. New Jersey. + 89 more,1 Lakh+ Employees (India)
3,ICICI Bank,4.0,(32.5k Reviews),Public,28 years old,"Mumbai,Maharashtra + 1025 more",1 Lakh+ Employees (India)
4,Wipro,3.9,(31k Reviews),Public,77 years old,"Bangalore/Bengaluru,Karnataka + 261 more",1 Lakh+ Employees (India)
...,...,...,...,...,...,...,...
9984,Ktl,4.2,(49 Reviews),Private,39 years old,New Delhi + 4 more,51-200 Employees (India)
9985,ATG Tire,3.8,(49 Reviews),Mumbai + 4 more,10k-50k Employees (India),72 years old,NaN
9986,Aga Khan Foundat...,4.3,(49 Reviews),NGO/NPO,55 years old,Geneva + 16 more,51-200 Employees (India)
9987,Detox Group,4.0,(49 Reviews),Private,51-200 Employees (India),Surat + 4 more,NaN
9988,Shreeji Infrastr...,3.6,(49 Reviews),Private,23 years old,Jabalpur + 9 more,1k-5k Employees (India)

In [30]:
final_dataframe.to_csv('ambitionBox.csv', index=False)